.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 0px;
  color: #3e497a;
  font-size: 35px;
}
.project h4 {
  margin-top: 10px;
  color: #3e497a;
  font-size: 20px;
  margin-left: 3rem;
  line-height: 2rem;
  font-weight: 500;
}
.project a {
  text-decoration: none;
}


.project img {
  width: 700px;
  border-radius: 10px;
}
.project img:hover {
  transform: scale(1.05, 1.05);
  transition-duration: .75s;
  transition: all .6s linear;
}

.project p {
  font-size: 20px;
  color: #3e497a;
}

.project svg {
  font-size: 60px;
  color: #3e497a;
}
.project button {
  margin-top: 15px;
  align-items: center;
  background-color: #21325e;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}
.project button p {
  color: #ffffff;
}

button:hover,
button:focus { 
  background-color: #16437E;
  color: #ffffff;
}
button:hover p {
  color: #E9D35B;
}

button:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}



@media screen and (max-width: 600px) {

  .project h1 {
    margin-top: 50px;
    font-size: 35px;
  }
  .project img {
    width: 370px;
    border-radius: 10px;
    object-fit: cover;
    padding-left: 2.5px;
    padding-right: 2.5px;
  }
  .project h4 {
    margin-top: 15px;
    color: #3e497a;
    font-size: 20px;
    margin-left: 1rem;
    line-height: 2rem;
    font-weight: 500;
    padding: 0px 11px 0 11px;
  }
  .project button p {
    border-radius: 10%;
    border-width: 2px;
    font-size: 15px;
    border-color: #3e497a;
  }

}
